@font-face {
    font-family: 'nameFont';
    src: url('../font/造字工房尚雅准宋 G0v1 常规体.ttf') format('truetype');
}
@font-face {
    font-family: 'textFont';
    src: url('../font/方正清刻本悦宋简体.ttf') format('truetype');
}

@font-face {
    font-family: 'numberFont';
    src: url('../font/7daysfatoblique.ttf') format('truetype');
}
